.detail {
  // position: fixed;
  top: 0;
  left: 0;

  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;

  width: 100%;
  // max-height: 600vh;
  padding: 125px 125px 0;

  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  margin-bottom: 20px;

  .status-card {
    display: flex;
    align-items: center;
    flex-grow: 3;
    justify-content: space-evenly;

    height: 200px;
    margin: 0 20px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px black;
    .info-dump {
      text-align: left;
      h1 {
        font-size: 20px;

        color: coral;
      }
      p {
        margin: 0;
      }
    }
  }

  .train-button {
    flex-grow: 1;

    height: 200px;
    margin: 0 20px;

    user-select: none;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 4px black;

    &:hover {
      cursor: pointer;

      box-shadow: 0 0 8px black;
    }
    p {
      font-size: 25px;
      font-weight: 900;

      position: relative;
      top: 40%;

      color: coral;
    }
    &.disabled {
      background-color: lightgray;
      box-shadow: 0 0 4px black;
      &:hover {
        cursor: default;
      }
      p {
        color: gray;
      }
    }
  }
}

.table-detail {
  width: 100%;
  margin: 5px;
  
  .row-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-sizing: border-box;
    width: 100%;
    // height: 500px;

    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 1px 0 black;
    &.titles:hover {
      border-left: 0 solid #4da5f3;
    }
    &:hover {
      border-left: 5px solid #4da5f3;
    }
    p {
      margin: 0;

      user-select: none;
      &:hover {
        margin: 0;

        cursor: default;
      }
    }
  }
}
