.home {
  padding: 125px;
  text-align: center;
  position: fixed;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-container {
  background-color: #4DA5F3;
  padding: 25px 50px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 4px black;
}

.options-container {
  /* border: 10px solid teal;
  background-color: teal; */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}