.new-profile-card {
  /* Box Model */
  height: 250px;
  width: 220px;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: -110px;
  background-color:white;
  box-sizing: border-box;
  
  /* Positioning */
  position: absolute;
  
  /* Display */
  left: 50%;
  text-align: center;
  /* display: inline-block; */

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-profile-card h1 {
  font-size: 25px;
  color: coral;
  margin: 5px;
}

.new-profile-card p {
  margin: 0;
}

.new-profile-card input {
  margin: 10px 10px 10px 10px;
  box-sizing: border-box;

  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
  /* &:hover
    background: rgba(#223254,.03);
  &:not(:placeholder-shown);
    + span;
      color #5A667F;
      transform: translateY(-26px) scale(.75);
  &:focus;
    background: none;
    outline: none;
    + span;
      color #0077FF;
      transform: translateY(-26px) scale(.75);
      + .border;
          transform: scaleX(1); */
}

input:hover {
  background: rgba(0, 0, 0, 0.1);
}

input:focus {
  background: none;
  outline: none;
  color: black;
  transform: translateY(-26px) scale(.75);
  transform: scaleX(1);
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color:lightgray;
  display: inline-block;
  padding-top: 20px;
}